In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('data/tmdb_5000_movies.csv')
credits = pd.read_csv('data/tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,poster_path,trailer_key
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995.0,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2.787965e+09,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800.0,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,5PSNL1qE6VY

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
dataset = movies.merge(credits, on='title')

In [6]:
dataset.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,status,tagline,title,vote_average,vote_count,poster_path,trailer_key,movie_id,cast,crew
0,237000000.0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995.0,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,Released,Enter the World of Pandora.,Avatar,7.2,11800.0,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,5PSNL1qE6VY,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
# genres, movie_id, keywords, overview, popularity, release_date, tagline, title, cast, crew
dataset = dataset[['movie_id','title','tagline','overview','genres','keywords','cast','crew','popularity','release_date','poster_path','trailer_key']]

In [8]:
dataset.head(1)

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date,poster_path,trailer_key
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,10-12-2009,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,5PSNL1qE6VY

In [9]:
dataset.duplicated().sum()

0

In [10]:
dataset['release_date'] = dataset['release_date'].apply(lambda x: str(x).split("-")[2])

In [11]:
dataset.head(1)

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date,poster_path,trailer_key
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,2009,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,5PSNL1qE6VY

In [12]:
import ast

In [13]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# ['Action','Adventure','Fantasy','Science Fiction']

def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [14]:
dataset['genres'] = dataset['genres'].apply(convert)

In [15]:
dataset['keywords'] = dataset['keywords'].apply(convert)

In [16]:
def convertCast(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=4:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [17]:
dataset['cast'] = dataset['cast'].apply(convertCast)

In [18]:
def convertCrew(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [19]:
dataset['crew'] = dataset['crew'].apply(convertCrew)

In [20]:
dataset.head(1)

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date,poster_path,trailer_key
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],150.437577,2009,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,5PSNL1qE6VY

In [21]:
data = dataset[['movie_id','title','overview','genres','keywords','cast','crew']]

In [22]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [23]:
data['overview'] = data['overview'].apply(lambda x: str(x).split())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3071123614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['overview'] = data['overview'].apply(lambda x: str(x).split())

In [24]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [25]:
data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3211786576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3211786576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3211786576.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3211786576.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [26]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]

In [27]:
data['titleArray'] = data['title'].apply(lambda x: x.split())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\1275867225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['titleArray'] = data['title'].apply(lambda x: x.split())

In [28]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,titleArray
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],[Avatar]

In [29]:
data['tags'] = data['titleArray'] + data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3833466374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['titleArray'] + data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

In [30]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,titleArray,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],[Avatar],"[Avatar, In, the, 22nd, century,, a, paraplegi..."

In [31]:
data = data[['movie_id','title','tags']]

In [32]:
data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [Avatar, In, the, 22nd, century,, a, paraplegi...

In [33]:
data['tags'] = data['tags'].apply(lambda x:" ".join(x))

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\39123791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['tags'].apply(lambda x:" ".join(x))

In [34]:
data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  Avatar In the 22nd century, a paraplegic Marin...

In [35]:
data['tags'] = data['tags'].apply(lambda x:x.lower())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_27168\3172751869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['tags'].apply(lambda x:x.lower())

In [36]:
data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  avatar in the 22nd century, a paraplegic marin...

In [37]:
import nltk

In [38]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [39]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [40]:
data['tags'] = data['tags'].apply(stem)

In [41]:
import sklearn

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [43]:
vectors = cv.fit_transform(data['tags']).toarray()

In [44]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
similarity = cosine_similarity(vectors)

In [47]:
similarity

array([[1.        , 0.07694838, 0.0860309 , ..., 0.04415108, 0.        ,
        0.        ],
       [0.07694838, 1.        , 0.0559017 , ..., 0.04303315, 0.02151657,
        0.02192645],
       [0.0860309 , 0.0559017 , 1.        , ..., 0.02405626, 0.        ,
        0.        ],
       ...,
       [0.04415108, 0.04303315, 0.02405626, ..., 1.        , 0.03703704,
        0.05661385],
       [0.        , 0.02151657, 0.        , ..., 0.03703704, 1.        ,
        0.07548514],
       [0.        , 0.02192645, 0.        , ..., 0.05661385, 0.07548514,
        1.        ]])

In [48]:
def recommend(movie):
    movie_index = data[data['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:7]
    
    for i in movies_list:
        print(i)
        print(data.iloc[i[0]].title)

In [49]:
recommend('Avatar')

(2409, 0.2982404540317303)
Aliens
(1216, 0.290693866424127)
Aliens vs Predator: Requiem
(1194, 0.24975621642178508)
Small Soldiers
(3731, 0.24779731389167606)
Falcon Rising
(507, 0.24722569302909875)
Independence Day
(539, 0.2433321316961438)
Titan A.E.

In [50]:
import pickle

In [51]:
pickle.dump(dataset.to_dict(), open('movies.pkl','wb'))

In [52]:
popular = dataset[['movie_id','title','genres','release_date','popularity']]

In [53]:
popular = popular.sort_values('popularity', ascending=False)

In [54]:
def byYear(year):
    counter=0
    L=[]
    for row in popular.iterrows():
        if row[1].release_date==year:
            if counter!=6:
                L.append(row[1].title)
                counter=counter+1
            else:
                break
    return L

In [55]:
byYear("2016")

['Deadpool',
 'Captain America: Civil War',
 'Batman v Superman: Dawn of Justice',
 'X-Men: Apocalypse',
 'The Jungle Book',
 'Suicide Squad']

In [56]:
def byGenre(genre):
    counter=0
    L=[]
    for row in popular.iterrows():
        if counter!=6:
            for gen in row[1].genres:
                if gen==genre:
                    L.append(row[1].title)
                    counter+=1
                    break
        else:
            break
    return L

In [57]:
byGenre("Action")

['Deadpool',
 'Guardians of the Galaxy',
 'Mad Max: Fury Road',
 'Jurassic World',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Dawn of the Planet of the Apes']

In [58]:
pickle.dump(popular, open('popular.pkl','wb'))

In [59]:
select = dataset[['movie_id','title','genres','cast','popularity']]

In [60]:
select = select.sort_values('popularity', ascending=False)

In [61]:
def byChoice(genres, castList,obj):
    choice = obj.copy()

    def byChoiceCast():
        cast_fre = []
        for row in choice.iterrows():
            castFre = 0
            for cast in row[1].cast:
                if cast == castList[0] or cast == castList[1] or cast == castList[2] or cast == castList[3] or cast == \
                        castList[4]:
                    castFre += 1
            cast_fre.append(castFre)
        return cast_fre
    
    choice['cast_fre'] = byChoiceCast()
    choice = choice[choice['cast_fre'] != 0]
    
    def byChoiceGenre():
        gen_fre = []
        for row in choice.iterrows():
            genFre = 0
            for gen in row[1].genres:
                if gen == genres[0] or gen == genres[1] or gen == genres[2]:
                    genFre += 1
            gen_fre.append(genFre)
        return gen_fre

    choice['gen_fre'] = byChoiceGenre()
    choice = choice[choice['gen_fre'] != 0]
    
    choice = choice.sort_values('cast_fre', ascending=False)
    
    choice_movies = []
    counter=0
    for mov in choice.iterrows():
        if counter!=3:
            choice_movies.append(mov[1].title)
            counter+=1
        else: 
            break
    return choice_movies

In [62]:
genres = ["Comedy", "Action", "Animation"]
castList = ["Robert De Niro", "Samuel L. Jackson", "Bruce Willis", "Matt Damon", "Nicolas Cage"]

byChoice(genres,castList,select)

['Kiss of Death', 'What Just Happened', 'Die Hard: With a Vengeance']

In [63]:
pickle.dump(select, open('choice.pkl','wb'))

In [64]:
import operator

In [65]:
cast_dict = {}
for row in dataset.iterrows():
    for cast in row[1].cast:
        if cast in cast_dict:
            cast_dict[cast] = (cast_dict[cast]+1)
        else:
            cast_dict[cast] = 0
            
cast_dict = dict( sorted(cast_dict.items(), key=operator.itemgetter(1),reverse=True))

cast_list = []
counter=0;
for key in cast_dict:
    if counter <25:
        cast_list.append(key)
    else:
        break;

In [66]:
pickle.dump(vectors, open('vectors.pkl','wb'))

In [70]:
vectors.shape

(4808, 5000)