In [1]:
import sqlite3
import pandas as pd
import sqlalchemy
import pickle

In [2]:
engine = sqlalchemy.create_engine('sqlite:///choice.sqlite')

In [3]:
choice = pickle.load(open('./data/choice.pkl', 'rb'))

In [4]:
choice = pd.DataFrame(choice, columns= ['movie_id','title','genres','cast','popularity'])

In [5]:
choice['genres'] = choice['genres'].apply(lambda x: "$".join(x))

In [6]:
choice['cast'] = choice['cast'].apply(lambda x: "$".join(x))

In [7]:
choice.head()

,movie_id,title,genres,cast,popularity
546,211672,Minions,Family$Animation$Adventure$Comedy,Sandra Bullock$Jon Hamm$Michael Keaton$Allison...,875.581305
95,157336,Interstellar,Adventure$Drama$Science Fiction,Matthew McConaughey$Jessica Chastain$Anne Hath...,724.247784
788,293660,Deadpool,Action$Adventure$Comedy,Ryan Reynolds$Morena Baccarin$Ed Skrein$T.J. M...,514.569956
94,118340,Guardians of the Galaxy,Action$Science Fiction$Adventure,Chris Pratt$Zoe Saldana$Dave Bautista$Vin Diesel,481.098624
127,76341,Mad Max: Fury Road,Action$Adventure$Science Fiction$Thriller,Tom Hardy$Charlize Theron$Nicholas Hoult$Hugh ...,434.278564

In [9]:
choice.to_sql('choice', engine)

4808

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///popular.sqlite')

In [3]:
popular = pickle.load(open('./data/popular.pkl', 'rb'))

In [4]:
popular = pd.DataFrame(popular, columns= ['movie_id','title','genres','release_date','popularity'])

In [5]:
popular['genres'] = popular['genres'].apply(lambda x: "$".join(x))

In [6]:
popular.head()

,movie_id,title,genres,release_date,popularity
546,211672,Minions,Family$Animation$Adventure$Comedy,2015,875.581305
95,157336,Interstellar,Adventure$Drama$Science Fiction,2014,724.247784
788,293660,Deadpool,Action$Adventure$Comedy,2016,514.569956
94,118340,Guardians of the Galaxy,Action$Science Fiction$Adventure,2014,481.098624
127,76341,Mad Max: Fury Road,Action$Adventure$Science Fiction$Thriller,2015,434.278564

In [7]:
popular.to_sql('popular', engine)

4808

In [2]:
engine = sqlalchemy.create_engine('sqlite:///movies.sqlite')

In [4]:
movies = pickle.load(open('./data/movies.pkl', 'rb'))

In [5]:
movies = pd.DataFrame(movies, columns= ['movie_id', 'title', 'tagline', 'overview', 'genres', 'keywords', 'cast', 'crew', 'popularity', 'release_date','poster_path','trailer_key'])

In [6]:
movies['genres'] = movies['genres'].apply(lambda x: "$".join(x))

In [7]:
movies['keywords'] = movies['keywords'].apply(lambda x: "$".join(x))

In [8]:
movies['cast'] = movies['cast'].apply(lambda x: "$".join(x))

In [9]:
movies['crew'] = movies['crew'].apply(lambda x: "$".join(x))

In [10]:
movies.head()

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date,poster_path,trailer_key
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",Action$Adventure$Fantasy$Science Fiction,culture clash$future$space war$space colony$so...,Sam Worthington$Zoe Saldana$Sigourney Weaver$S...,James Cameron,150.437577,2009,https://image.tmdb.org/t/p/original/jRXYjXNq0C...,5PSNL1qE6VY
1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",Adventure$Fantasy$Action,ocean$drug abuse$exotic island$east india trad...,Johnny Depp$Orlando Bloom$Keira Knightley$Stel...,Gore Verbinski,139.082615,2007,https://image.tmdb.org/t/p/original/2YMnBRh8F6...,HKSZtp_OGHY
2,206647,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,Action$Adventure$Crime,spy$based on novel$secret agent$sequel$mi6$bri...,Daniel Craig$Christoph Waltz$Léa Seydoux$Ralph...,Sam Mendes,107.376788,2015,https://image.tmdb.org/t/p/original/zj8ongFhtW...,z4UDNzXD3qA
3,49026,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,Action$Crime$Drama$Thriller,dc comics$crime fighter$terrorist$secret ident...,Christian Bale$Michael Caine$Gary Oldman$Anne ...,Christopher Nolan,112.312950,2012,https://image.tmdb.org/t/p/original/85cWkCVfti...,GAjBzu8ggi0
4,49529,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...",Action$Adventure$Science Fiction,based on novel$mars$medallion$space travel$pri...,Taylor Kitsch$Lynn Collins$Samantha Morton$Wil...,Andrew Stanton,43.926995,2012,https://image.tmdb.org/t/p/original/7GSSyUUgUE...,WR6HUkzxjR0

In [11]:
movies.to_sql('movies', engine)

4808